<% layout('layouts/boilerplate') %>


    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://northeastohiofamilyfun.com/wp-content/uploads/2020/05/Campgrounds-in-Ohio.jpg"
                        alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>
                        <form action="/login" method="POST" class="validate-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username :</label>
                                <input class="form-control" type="text" name="username" id="username"
                                    placeholder="Enter your username" required autofocus>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password :</label>
                                <input class="form-control" type="password" name="password" id="password"
                                    placeholder="Enter your password" required>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-success">LOGIN</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>